.hidden {
  display: none;
}



.half-height {
  height: 40vh;
}

.tall {
  height: 60vh;
}

.highlight {
  color: yellow;
}

.clickable {
  background:
linear-gradient(
  to bottom, yellow 0%,
  yellow 100%
);
background-position: 0 100%;
background-repeat: repeat-x;
background-size: 4px 4px;
color: #000;
text-decoration: none;
transition: background-size .2s;
}

.clickable:hover {
background-size: 4px 50px;
}

div .radio {
  padding: 10px;
}

input[type='radio']:after {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: -4px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
}

input[type='radio']:checked:after {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: -4px;
  left: -1px;
  position: relative;
  background-color: black;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 5px double yellow;
}

label span {
  margin-left: 15px;
}

